.text-center() {
  text-align: center;
}

.bg-color(@color) {
  background-color: @color;
}

.font-bold() {
  font-family: "PT Sans","Tahoma",  sans-serif;

  font-weight: bold;
}

.font-normal() {
  font-family: "PT Sans","Tahoma",  sans-serif;

  font-weight: normal;
}

.main-nav-text() {
  font-size: 18px;
  line-height: 40px;
}

.uppercase() {
  text-transform: uppercase;
}
